# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# Data
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
